In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization
%matplotlib inline

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('adult.csv')

In [4]:
df.shape

(8600, 15)

In [5]:

df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [6]:
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
             'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']

df.columns = col_names

df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [7]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8600 entries, 0 to 8599
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             8600 non-null   int64
 1   workclass       8600 non-null   object
 2   fnlwgt          8600 non-null   int64
 3   education       8600 non-null   object
 4   education_num   8600 non-null   int64
 5   marital_status  8600 non-null   object
 6   occupation      8600 non-null   object
 7   relationship    8600 non-null   object
 8   race            8600 non-null   object
 9   sex             8600 non-null   object
 10  capital_gain    8600 non-null   int64
 11  capital_loss    8600 non-null   int64
 12  hours_per_week  8600 non-null   int64
 13  native_country  8600 non-null   object
 14  income          8600 non-null   object
dtypes: int64(6), object(9)
memory usage: 1007.9+ KB

In [10]:
# find categorical variables
categorical = [var for var in df.columns if df[var].dtype=='O']


# code here

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 9 categorical variables

The categorical variables are :

 ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']

In [12]:
# view the categorical variables
df[categorical].head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K

In [13]:
# visualize categorical column and unique count in those columns
for var in categorical:

    print(df[var].value_counts())

workclass
 Private             5983
 Self-emp-not-inc     685
 Local-gov            543
 ?                    508
 State-gov            334
 Self-emp-inc         305
 Federal-gov          240
 Without-pay            1
 Never-worked           1
Name: count, dtype: int64
education
 HS-grad         2784
 Some-college    1974
 Bachelors       1400
 Masters          450
 Assoc-voc        362
 11th             320
 Assoc-acdm       283
 10th             245
 7th-8th          175
 Prof-school      146
 9th              139
 Doctorate        100
 12th              95
 5th-6th           72
 1st-4th           40
 Preschool         15
Name: count, dtype: int64
marital_status
 Married-civ-spouse       3910
 Never-married            2847
 Divorced                 1195
 Separated                 281
 Widowed                   247
 Married-spouse-absent     113
 Married-AF-spouse           7
Name: count, dtype: int64
occupation
 Prof-specialty       1084
 Exec-managerial      1045
 Craft-repair         1039
 Adm-clerical         1028
 Sales                1013
 Other-service         880
 Machine-op-inspct     533
 ?                     509
 Transport-moving      431
 Handlers-cleaners     332
 Tech-support          252
 Farming-fishing       248
 Protective-serv       169
 Priv-house-serv        35
 Armed-Forces            2
Name: count, dtype: int64
relationship
 Husband           3425
 Not-in-family     2215
 Own-child         1365
 Unmarried          905
 Wife               436
 Other-relative     254
Name: count, dtype: int64
race
 White                 7357
 Black                  835
 Asian-Pac-Islander     260
 Amer-Indian-Eskimo      86
 Other                   62
Name: count, dtype: int64
sex
 Male      5754
 Female    2846
Name: count, dtype: int64
native_country
 United-States                 7685
 Mexico                         183
 ?                              161
 Philippines                     42
 Canada                          42
 Germany                         38
 Puerto-Rico                     30
 Jamaica                         26
 Cuba                            25
 China                           24
 England                         23
 India                           22
 South                           22
 El-Salvador                     22
 Iran                            20
 Dominican-Republic              18
 Italy                           18
 Poland                          18
 Guatemala                       18
 Vietnam                         17
 Japan                           17
 Greece                          16
 Taiwan                          14
 Portugal                        12
 Haiti                           10
 Columbia                         9
 Nicaragua                        7
 Cambodia                         7
 Ecuador                          6
 Ireland                          6
 Peru                             6
 Thailand                         5
 Trinadad&Tobago                  5
 Honduras                         5
 Laos                             4
 Outlying-US(Guam-USVI-etc)       4
 Yugoslavia                       4
 France                           4
 Scotland                         3
 Hong                             1
 Hungary                          1
Name: count, dtype: int64
income
 <=50K    6553
 >50K     2047
Name: count, dtype: int64

In [16]:
# replace '?' with np.nan
df.replace('?', np.nan, inplace=True)
print(df)

      age          workclass  fnlwgt      education  education_num  \
0      50   Self-emp-not-inc   83311      Bachelors             13
1      38            Private  215646        HS-grad              9
2      53            Private  234721           11th              7
3      28            Private  338409      Bachelors             13
4      37            Private  284582        Masters             14
...   ...                ...     ...            ...            ...
8595   42            Private  211253      Bachelors             13
8596   32        Federal-gov  191385     Assoc-acdm             12
8597   20            Private  137895        HS-grad              9
8598   62          State-gov  159699      Bachelors             13
8599   31            Private  295922   Some-college             10

           marital_status          occupation    relationship    race  \
0      Married-civ-spouse     Exec-managerial         Husband   White
1                Divorced   Handlers-cleaners   Not-in-family   White
2      Married-civ-spouse   Handlers-cleaners         Husband   Black
3      Married-civ-spouse      Prof-specialty            Wife   Black
4      Married-civ-spouse     Exec-managerial            Wife   White
...                   ...                 ...             ...     ...
8595             Divorced     Exec-managerial       Unmarried   White
8596             Divorced     Protective-serv   Not-in-family   White
8597   Married-civ-spouse               Sales         Husband   White
8598   Married-civ-spouse        Adm-clerical         Husband   White
8599        Never-married        Adm-clerical   Not-in-family   White

          sex  capital_gain  capital_loss  hours_per_week  native_country  \
0        Male             0             0              13   United-States
1        Male             0             0              40   United-States
2        Male             0             0              40   United-States
3      Female             0             0              40            Cuba
4      Female             0             0              40   United-States
...       ...           ...           ...             ...             ...
8595   Female             0             0              40   United-States
8596     Male          2174             0              40   United-States
8597     Male             0             0              45   United-States
8598     Male             0             0              38   United-States
8599     Male             0             0              40   United-States

      income
0      <=50K
1      <=50K
2      <=50K
3      <=50K
4      <=50K
...      ...
8595   <=50K
8596   <=50K
8597   <=50K
8598   <=50K
8599   <=50K

[8600 rows x 15 columns]

In [17]:
df.occupation.value_counts()

occupation
 Prof-specialty       1084
 Exec-managerial      1045
 Craft-repair         1039
 Adm-clerical         1028
 Sales                1013
 Other-service         880
 Machine-op-inspct     533
 ?                     509
 Transport-moving      431
 Handlers-cleaners     332
 Tech-support          252
 Farming-fishing       248
 Protective-serv       169
 Priv-house-serv        35
 Armed-Forces            2
Name: count, dtype: int64

In [18]:
# replace '?' with np.nan
df.replace('?', np.nan, inplace=True)
print(df)

      age          workclass  fnlwgt      education  education_num  \
0      50   Self-emp-not-inc   83311      Bachelors             13
1      38            Private  215646        HS-grad              9
2      53            Private  234721           11th              7
3      28            Private  338409      Bachelors             13
4      37            Private  284582        Masters             14
...   ...                ...     ...            ...            ...
8595   42            Private  211253      Bachelors             13
8596   32        Federal-gov  191385     Assoc-acdm             12
8597   20            Private  137895        HS-grad              9
8598   62          State-gov  159699      Bachelors             13
8599   31            Private  295922   Some-college             10

           marital_status          occupation    relationship    race  \
0      Married-civ-spouse     Exec-managerial         Husband   White
1                Divorced   Handlers-cleaners   Not-in-family   White
2      Married-civ-spouse   Handlers-cleaners         Husband   Black
3      Married-civ-spouse      Prof-specialty            Wife   Black
4      Married-civ-spouse     Exec-managerial            Wife   White
...                   ...                 ...             ...     ...
8595             Divorced     Exec-managerial       Unmarried   White
8596             Divorced     Protective-serv   Not-in-family   White
8597   Married-civ-spouse               Sales         Husband   White
8598   Married-civ-spouse        Adm-clerical         Husband   White
8599        Never-married        Adm-clerical   Not-in-family   White

          sex  capital_gain  capital_loss  hours_per_week  native_country  \
0        Male             0             0              13   United-States
1        Male             0             0              40   United-States
2        Male             0             0              40   United-States
3      Female             0             0              40            Cuba
4      Female             0             0              40   United-States
...       ...           ...           ...             ...             ...
8595   Female             0             0              40   United-States
8596     Male          2174             0              40   United-States
8597     Male             0             0              45   United-States
8598     Male             0             0              38   United-States
8599     Male             0             0              40   United-States

      income
0      <=50K
1      <=50K
2      <=50K
3      <=50K
4      <=50K
...      ...
8595   <=50K
8596   <=50K
8597   <=50K
8598   <=50K
8599   <=50K

[8600 rows x 15 columns]

In [19]:
df.native_country.value_counts()

native_country
 United-States                 7685
 Mexico                         183
 ?                              161
 Philippines                     42
 Canada                          42
 Germany                         38
 Puerto-Rico                     30
 Jamaica                         26
 Cuba                            25
 China                           24
 England                         23
 India                           22
 South                           22
 El-Salvador                     22
 Iran                            20
 Dominican-Republic              18
 Italy                           18
 Poland                          18
 Guatemala                       18
 Vietnam                         17
 Japan                           17
 Greece                          16
 Taiwan                          14
 Portugal                        12
 Haiti                           10
 Columbia                         9
 Nicaragua                        7
 Cambodia                         7
 Ecuador                          6
 Ireland                          6
 Peru                             6
 Thailand                         5
 Trinadad&Tobago                  5
 Honduras                         5
 Laos                             4
 Outlying-US(Guam-USVI-etc)       4
 Yugoslavia                       4
 France                           4
 Scotland                         3
 Hong                             1
 Hungary                          1
Name: count, dtype: int64

In [20]:
# replace '?' with np.nan
df.replace('?', np.nan, inplace=True)
print(df)

      age          workclass  fnlwgt      education  education_num  \
0      50   Self-emp-not-inc   83311      Bachelors             13
1      38            Private  215646        HS-grad              9
2      53            Private  234721           11th              7
3      28            Private  338409      Bachelors             13
4      37            Private  284582        Masters             14
...   ...                ...     ...            ...            ...
8595   42            Private  211253      Bachelors             13
8596   32        Federal-gov  191385     Assoc-acdm             12
8597   20            Private  137895        HS-grad              9
8598   62          State-gov  159699      Bachelors             13
8599   31            Private  295922   Some-college             10

           marital_status          occupation    relationship    race  \
0      Married-civ-spouse     Exec-managerial         Husband   White
1                Divorced   Handlers-cleaners   Not-in-family   White
2      Married-civ-spouse   Handlers-cleaners         Husband   Black
3      Married-civ-spouse      Prof-specialty            Wife   Black
4      Married-civ-spouse     Exec-managerial            Wife   White
...                   ...                 ...             ...     ...
8595             Divorced     Exec-managerial       Unmarried   White
8596             Divorced     Protective-serv   Not-in-family   White
8597   Married-civ-spouse               Sales         Husband   White
8598   Married-civ-spouse        Adm-clerical         Husband   White
8599        Never-married        Adm-clerical   Not-in-family   White

          sex  capital_gain  capital_loss  hours_per_week  native_country  \
0        Male             0             0              13   United-States
1        Male             0             0              40   United-States
2        Male             0             0              40   United-States
3      Female             0             0              40            Cuba
4      Female             0             0              40   United-States
...       ...           ...           ...             ...             ...
8595   Female             0             0              40   United-States
8596     Male          2174             0              40   United-States
8597     Male             0             0              45   United-States
8598     Male             0             0              38   United-States
8599     Male             0             0              40   United-States

      income
0      <=50K
1      <=50K
2      <=50K
3      <=50K
4      <=50K
...      ...
8595   <=50K
8596   <=50K
8597   <=50K
8598   <=50K
8599   <=50K

[8600 rows x 15 columns]

In [37]:
# asssign input features to X and output label to y
X = df.drop(['income'], axis=1)

y = df['income']

In [38]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [39]:
X_train.shape, X_test.shape

((6020, 14), (2580, 14))

In [40]:
# impute missing categorical variables with most frequent value

for df2 in [X_train, X_test]:
    df2['workclass'].fillna(X_train['workclass'].mode()[0], inplace=True)
    df2['occupation'].fillna(X_train['occupation'].mode()[0], inplace=True)
    df2['native_country'].fillna(X_train['native_country'].mode()[0], inplace=True)

In [41]:
# import category encoders

import category_encoders as ce
# encode remaining variables with one-hot encoding

encoder = ce.OneHotEncoder(cols=['workclass', 'education', 'marital_status', 'occupation', 'relationship',
                                 'race', 'sex', 'native_country'])

X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [42]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [43]:
# train a Gaussian Naive Bayes classifier on the training set
from sklearn.naive_bayes import GaussianNB


# instantiate the model
gnb = GaussianNB()


# fit the model
gnb.fit(X_train, y_train)

GaussianNB()

In [44]:
y_pred = gnb.predict(X_test)

y_pred

array([' <=50K', ' >50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [45]:
# print the scores on training and test set

print('Training set score: {:.4f}'.format(gnb.score(X_train, y_train)))

print('Test set score: {:.4f}'.format(gnb.score(X_test, y_test)))

Training set score: 0.7930
Test set score: 0.8136

In [47]:
# Print the Confusion Matrix and slice it into four pieces

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

print('Confusion matrix\n\n', cm)

print('\nTrue Positives(TP) = ', cm[0,0])

print('\nTrue Negatives(TN) = ', cm[1,1])

print('\nFalse Positives(FP) = ', cm[0,1])

print('\nFalse Negatives(FN) = ', cm[1,0])

Confusion matrix

 [[1583  376]
 [ 105  516]]

True Positives(TP) =  1583

True Negatives(TN) =  516

False Positives(FP) =  376

False Negatives(FN) =  105

In [49]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       <=50K       0.94      0.81      0.87      1959
        >50K       0.58      0.83      0.68       621

    accuracy                           0.81      2580
   macro avg       0.76      0.82      0.78      2580
weighted avg       0.85      0.81      0.82      2580

In [50]:
TP = cm[0,0]
TN = cm[1,1]
FP = cm[0,1]
FN = cm[1,0]

In [51]:

# print classification accuracy


classification_accuracy = (TP + TN) / float(TP + TN + FP + FN)

print('Classification accuracy : {0:0.4f}'.format(classification_accuracy))

Classification accuracy : 0.8136

In [52]:
# print precision score
precision = TP / float(TP + FP)


print('Precision : {0:0.4f}'.format(precision))

Precision : 0.8081

In [53]:
# report recall
recall = TP / float(TP + FN)

print('Recall or Sensitivity : {0:0.4f}'.format(recall))

Recall or Sensitivity : 0.9378